body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

div.vis-item.vis-background.bg-first {
  background-color: rgba(108, 117, 125, 0.2);
}

div.vis-item.vis-background.bg-second {
  background-color: rgba(52, 58, 64, 0.2);
}

div.vis-item.vis-background.bg-third {
  background-color: rgba(255, 0, 0, 0.2);
}

div.vis-item.vis-background.bg-forth {
  background-color: rgba(253, 106, 2, 0.2);
}
