html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 180px;
  padding-top: 70px;
}

/*
 * Change font size depending on the screen width.
 */ 
@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 15px;
  }
}

/*
 * Fixed at the bottom of the body footer.
 */ 
body > footer {
  background: #F8F8F8 none repeat scroll 0 0;
  border-top: 1px #E7E7E7 solid;
  bottom: 0;
  height: 170px;
  position: absolute;
  width: 100%;
}

body > footer a {
  color: #404040;
}

body > footer ul.footer-links-top, body > footer ul.footer-links-bottom  {
  padding: 0;
}

body > footer ul.footer-links-top {
  /*font-size: 18px;*/
  margin: 30px 0 0 0;
}

body > footer ul.footer-links-bottom {
  margin: 10px 0 0 0;
}

body > footer p.footer-copyright {
  margin: 20px 0 20px 0;
}

/*
 * Article.
 */
article {
  border: 1px #E7E7E7 solid;
  margin-bottom: 20px;
}

article > header {
  background: #EEEEEE none repeat scroll 0 0;
}

article > header h1 {
  padding: 15px;
  margin: 0px;
}

article > section {
  background: #EEEEEE none repeat scroll 0 0;
  padding: 15px;
  text-align: justify;
}

article > footer {
  background: #F8F8F8 none repeat scroll 0 0;
  padding: 10px;
}

article > footer a {
  color: #337AB7;
}

/*
 * Quote blocks.
 */
blockquote {
  background: #F8F8F8 none repeat scroll 0 0;
  border-left: 5px solid #404040;
}

blockquote > p {
  /*font-size: 16px;*/
  text-align: justify;
}

blockquote > footer {
  border: 0;
  /*font-size: 16px;*/
  margin-top: 10px;
}

/*
 * Tables.
 */
.table {
  background: #FFFFFF;
}

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border-bottom-width: 1px;
}

/*
 * Wells.
 */
.well {
  background: #EEEEEE none repeat scroll 0 0;
}

/*
 * Taxonomies cloud.
 */
.cloud {
  hyphens: auto;
  word-wrap: break-word;
}

/*
 * Jumbotron.
 */
.container .jumbotron {
  padding: 30px 24px 30px 24px;
}

.container .jumbotron h1 {
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 10px;
}

/*
 * FontAwesome custom classes.
 */
.fa-10x {
  font-size: 10em
}

.fa-bird:before {
  content: "\f099"
}

.fa-tube:before {
  content: "\f167"
}
