<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
{{ partial "head.html" . }}
  </head>
  <body>
    <header>
{{ partial "header.html" . }}
    </header>
    <section class="container">
      <div class="row">
        <div class="col-md-8">
{{ partial "post-list.html" . }}
        </div>
        <div class="col-md-4">
          <div class="well">
            <h4>Categories</h4>
            <div class="cloud">
{{ partial "cloud.html" (dict "context" . "type" "category" "minimum" 1 "maximum" 2.5 ) }}
            </div>
          </div>
          <div class="well">
            <h4>Tags</h4>
            <div class="cloud">
{{ partial "cloud.html" (dict "context" . "type" "tag" "minimum" 1 "maximum" 2.5 ) }}
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
{{ partial "footer.html" . }}
    </footer>
{{ partial "script.html" . }}
  </body>
</html>
