<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
{{ partial "head.html" . }}
  </head>
  <body>
    <header>
{{ partial "header.html" . }}
    </header>
    <section class="container">
{{ if eq .Type "page" }}
  {{ partial "page-single.html" . }}
{{ end }}
{{ if eq .Type "post" }}
  {{ partial "post-single.html" . }}
{{ end }}
{{ if eq .Type "project" }}
  {{ partial "project-single.html" . }}
{{ end }}
    </section>
    <footer class="mt-4 bg-dark">
{{ partial "footer.html" . }}
    </footer>
{{ partial "script.html" . }}
  </body>
</html>
