<!-- Include the meta tags. -->
{{ partial "meta.html" . }}
<!-- Compare the site title and the page title and if they're equal only include one. -->
{{- if eq .Site.Title .Title -}}
<title>{{ .Site.Title }}</title>
{{- else -}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{- end -}}
<!-- Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | absURL }}">
<link rel="icon" type="image/png" href="{{ "/favicon-32x32.png" | absURL }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ "/favicon-16x16.png" | absURL }}" sizes="16x16">
<link rel="manifest" href="{{ "/manifest.json" | absURL }}">
<link rel="mask-icon" href="{{ "/safari-pinned-tab.svg" | absURL }}" color="#5bbad5">
<!-- RSS feeds. -->
<link href="{{ "index.xml" | absURL }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} Combined Feed" />
<link href="{{ "page/index.xml" | absURL }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} Pages Feed" />
<link href="{{ "post/index.xml" | absURL }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} Posts Feed" />
<link href="{{ "project/index.xml" | absURL }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} Projects Feed" />
<!-- Style sheets. -->
<link href="{{ "css/font-awesome.min.css" | absURL }}" rel="stylesheet" />
<link href="{{ "css/bootstrap.min.css" | absURL }}" rel="stylesheet" />
<link href="{{ "css/serializingme.min.css" | absURL }}" rel="stylesheet" />
