<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ "/" | absURL }}">{{ .Site.Title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
{{ range .Site.Menus.main.ByWeight }}
        <li class="nav-item"><a class="nav-link" title="{{ .Name }}" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
{{ end }}
    </div>
  </div>
</nav>
<noscript>
  <div class="container mt-2 mb-0">
    <div class="alert alert-danger">JavaScript is disabled, this site will not work properly without it.</div>
  </div>
</noscript>
