<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#ffffff" />
<!--
Default HTML tags.
-->
{{ if eq .Site.Title .Title }}
<meta property="title" content="{{ .Site.Title }}" />
{{ else }}
<meta property="title" content="{{ .Title }} - {{ .Site.Title }}" />
{{ end }}
{{ if .IsHome }}
  {{ with .Site.Params.description }}
<meta name="description" content="{{ . }}" />
  {{ end }}
{{ else if .IsNode }}
  {{ if eq .Type "tags" }}
    {{ if eq .Kind "taxonomy" }}
<meta name="description" content="List of all published blog posts tagged with {{ .Title }}" />
    {{ else }}
<meta name="description" content="List of all tags used in published blog posts" />
    {{ end }}
  {{ else if eq .Type "categories" }}
    {{ if eq .Kind "taxonomy" }}
<meta name="description" content="List of all published blog posts archived under {{ .Title }}" />
    {{ else }}
<meta name="description" content="List of all categories used in published posts" />
    {{ end }}
  {{ else if eq .Type "project" }}
<meta name="description" content="List of all published projects and respective metadata" />
  {{ else if eq .Type "page" }}
<meta name="description" content="List of all published pages and respective metadata" />
  {{ else if eq .Type "post" }}
<meta name="description" content="List of all published blog posts and respective metadata" />
  {{ end }}
{{ else }}
  {{ with .Params.excerpt }}
<meta name="description" content="{{ . }}" />
  {{ end }}
  {{ with .Params.tags }}
    {{ $count := len . }}
    {{ if gt $count 0 }}
<meta name="keywords" content="{{ range $index, $tag := . }}{{ $tag }}{{ if lt $index (sub $count 1) }}, {{ end }}{{ end }}" />
    {{ end }}
  {{ end }}
{{ end }}
{{ with .Site.Params.author.name }}
<meta name="author" content="{{ . }}" />
{{ end }}
<!--
Schema.org tags.
-->
{{ if eq .Site.Title .Title }}
<meta itemprop="title" content="{{ .Site.Title }}" />
{{ else }}
<meta itemprop="title" content="{{ .Title }} - {{ .Site.Title }}" />
{{ end }}
{{ if .IsHome }}
  {{ with .Site.Params.description }}
<meta itemprop="description" content="{{ . }}" />
  {{ end }}
{{ else if .IsNode }}
  {{ if eq .Type "tags" }}
    {{ if eq .Kind "taxonomy" }}
<meta itemprop="description" content="List of all published blog posts tagged with {{ .Title }}" />
    {{ else }}
<meta itemprop="description" content="List of all tags used in published blog posts" />
    {{ end }}
  {{ else if eq .Type "categories" }}
    {{ if eq .Kind "taxonomy" }}
<meta itemprop="description" content="List of all published blog posts archived under {{ .Title }}" />
    {{ else }}
<meta itemprop="description" content="List of all categories used in published posts" />
    {{ end }}
  {{ else if eq .Type "project" }}
<meta itemprop="description" content="List of all published projects and respective metadata" />
  {{ else if eq .Type "page" }}
<meta itemprop="description" content="List of all published pages and respective metadata" />
  {{ else if eq .Type "post" }}
<meta itemprop="description" content="List of all published blog posts and respective metadata" />
  {{ end }}
{{ else }}
  {{ with .Params.excerpt }}
<meta itemprop="description" content="{{ . }}" />
  {{ end }}
  {{ with .Params.banner }}
<meta itemprop="image" content="{{ . | absURL }}" />
  {{ end }}
  {{ with .Params.tags }}
    {{ $count := len . }}
    {{ if gt $count 0 }}
<meta itemprop="keywords" content="{{ range $index, $tag := . }}{{ $tag }}{{ if lt $index (sub $count 1) }}, {{ end }}{{ end }}" />
    {{ end }}
  {{ end }}
  {{ with .WordCount }}
<meta itemprop="wordCount" content="{{ . }}" />
  {{ end }}
{{ end }}
<!--
Open Graph
-->
{{ if eq .Site.Title .Title }}
<meta property="og:title" content="{{ .Site.Title }}" />
{{ else }}
<meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}" />
{{ end }}
{{ if .IsHome }}
<meta property="og:type" content="website" />
  {{ with .Site.Params.description }}
<meta property="og:description" content="{{ . }}" />
  {{ end }}
{{ else if .IsNode }}
<meta property="og:type" content="website" />
  {{ if eq .Type "tags" }}
    {{ if eq .Kind "taxonomy" }}
<meta property="og:description" content="List of all published blog posts tagged with {{ .Title }}" />
    {{ else }}
<meta property="og:description" content="List of all tags used in published blog posts" />
    {{ end }}
  {{ else if eq .Type "categories" }}
    {{ if eq .Kind "taxonomy" }}
<meta property="og:description" content="List of all published blog posts archived under {{ .Title }}" />
    {{ else }}
<meta property="og:description" content="List of all categories used in published posts" />
    {{ end }}
  {{ else if eq .Type "project" }}
<meta property="og:description" content="List of all published projects and respective metadata" />
  {{ else if eq .Type "page" }}
<meta property="og:description" content="List of all published pages and respective metadata" />
  {{ else if eq .Type "post" }}
<meta property="og:description" content="List of all published blog posts and respective metadata" />
  {{ end }}
{{ else }}
  {{ if or (eq .Type "post") (eq .Type "project") }}
<meta property="og:type" content="article" />
  {{ else }}
<meta property="og:type" content="website" />
  {{ end }}
  {{ with .Params.excerpt }}
<meta property="og:description" content="{{ . }}" />
  {{ end }}
  {{ with .Params.banner }}
<meta property="og:image" content="{{ . | absURL }}" />
  {{ end }}
{{ end }}
{{ with .Permalink }}
<meta property="og:url" content="{{ . }}" />
{{ end }}
{{ with .Site.Title }}
<meta property="og:site_name" content="{{ . }}" />
{{ end }}
<!--
Twitter cards.
-->
{{ if .IsNode }}
<meta name="twitter:card" content="summary" />
{{ else }}
  {{ if isset .Params "banner" }}
<meta name="twitter:card" content="summary_large_image" />
  {{ else }}
<meta name="twitter:card" content="summary" />
  {{ end }}
{{ end }}
{{ with .Site.Params.author.twitter }}
<meta name="twitter:site" content="{{ . }}" />
<meta name="twitter:creator" content="{{ . }}" />
{{ end }}
{{ if eq .Site.Title .Title }}
<meta name="twitter:title" content="{{ .Site.Title }}" />
{{ else }}
<meta name="twitter:title" content="{{ .Title }} - {{ .Site.Title }}" />
{{ end }}
{{ with .Permalink }}
<meta name="twitter:url" content="{{ . }}" />
{{ end }}
{{ if .IsHome }}
  {{ with .Site.Params.description }}
<meta name="twitter:description" content="{{ . }}" />
  {{ end }}
{{ else if .IsNode }}
  {{ if eq .Type "tags" }}
    {{ if eq .Kind "taxonomy" }}
<meta name="twitter:description" content="List of all published blog posts tagged with {{ .Title }}" />
    {{ else }}
<meta name="twitter:description" content="List of all tags used in published blog posts" />
    {{ end }}
  {{ else if eq .Type "categories" }}
    {{ if eq .Kind "taxonomy" }}
<meta name="twitter:description" content="List of all published blog posts archived under {{ .Title }}" />
    {{ else }}
<meta name="twitter:description" content="List of all categories used in published posts" />
    {{ end }}
  {{ else if eq .Type "project" }}
<meta name="twitter:description" content="List of all published projects and respective metadata" />
  {{ else if eq .Type "page" }}
<meta name="twitter:description" content="List of all published pages and respective metadata" />
  {{ else if eq .Type "post" }}
<meta name="twitter:description" content="List of all published blog posts and respective metadata" />
  {{ end }}
{{ else }}
  {{ with .Params.excerpt }}
<meta name="twitter:description" content="{{ . }}" />
  {{ end }}
  {{ with .Params.banner }}
<meta name="twitter:image" content="{{ . | absURL }}" />
  {{ end }}
{{ end }}
