{{- if or (.Paginator.HasPrev) (.Paginator.HasNext) -}}
<ul class="pager">
  {{- if .Paginator.HasNext -}}
  <li class="previous">
    <a href="{{ (printf "%spage/%d/" .URL .Paginator.Next.PageNumber) | absURL }}"><span><i class="fa fa-chevron-left"></i>&nbsp;</span>Older</a>
  </li>
  {{- end -}}
  {{- if .Paginator.HasPrev -}}
  <li class="next">
    <a href="{{ (printf "%spage/%d/" .URL .Paginator.Prev.PageNumber) | absURL }}">Newer<span>&nbsp;<i class="fa fa-chevron-right"></i></span></a>
  </li>
  {{- end -}}
</ul>
{{- end -}}
