<!-- Blog Post -->
<div class="card my-4">
{{- if and (isset .context.Params "banner") (.feature) -}}
  <a href="{{ .context.Permalink }}"><img class="card-img-top" src="{{ .context.Params.banner }}" alt="{{ .context.Title }}"></a>
{{- end -}}
  <div class="card-body">
    <h2 class="card-title">
        {{ .context.Title }}
    </h2>
{{- if and (isset .context.Params "format") (or (eq .context.Params.format "quote") (eq .context.Params.format "status")) -}}
    <div>
  {{ .context.Content }}
    </div>
{{- else -}}
    <div>
  {{ .context.Summary }}
  {{- if .context.Truncated -}}
      <a class="btn btn-primary" href="{{ .context.Permalink }}">Read More<span>&nbsp;<i class="fas fa-chevron-right"></i></span></a>
  {{- end -}}
    </div>
{{- end -}}
  </div>
  <div class="card-footer">
{{ partial "post-footer.html" .context }}
  </div>
</div>
