<div class="row">
  <!-- Post Content Column -->
  <div class="col-lg-8">
    <!-- Blog Post -->
    <div class="card mb-4 my-4">
{{- with .Params.banner -}}
      <img class="card-img-top" src="{{ . }}" alt="{{ $.Title }}" />
{{- end -}}
      <div class="card-body">
        <h2 class="card-title">
{{ .Title }}
        </h2>
        <div class="text-justify">
{{ .Content }}
{{- with .Params.timeline -}}
          <h3 id="disclosure-timeline">Disclosure Timeline</h3>
          <ul>
  {{- range . -}}
    {{- if ne .type "background" -}}
            <li>
      {{ .start }}:&nbsp;{{- if .content -}}{{ .content | safeHTML }}{{- else -}}{{ .title | safeHTML }}{{- end -}}
            </li>
    {{- end -}}
  {{- end -}}
          </ul>
          <div id="visualization"></div>
{{- end -}}

<!--div id="visualization"></div>
<script>
  var items = new vis.DataSet([
    {id: 'F', content: '30 days', start: '2016-12-02', end: '2017-01-02', type: 'background', className: 'bg-first text-dark'},
    {id: 'S', content: '60 days', start: '2017-01-02', end: '2017-02-02', type: 'background', className: 'bg-second text-dark'},
    {id: 'T', content: '90 days', start: '2017-02-02', end: '2017-03-02', type: 'background', className: 'bg-third text-dark'},
    {id: 1, content: 'First reported issues to Ziggo', start: '2016-12-02'},
    {id: 2, content: 'Asked for an update', start: '2016-12-09'},
    {id: 3, content: 'Ziggo confirmed issues', title: 'Received reply confirming the bugs, and that the<br/>first and third bug were already fixed in next modem<br/>firmware. I confirmed the dates for coordinated<br/>disclosure, and agreed to test the beta of the new<br/>firmware', start: '2016-12-12'},
    {id: 4, content: 'Beta firmware ready',    title: 'Received information that the beta firmware was ready', start: '2016-12-16'},
    {id: 5, content: 'Firmware malfunction',   title: 'Installed the beta firmware but the modem malfunctioned', start: '2016-12-17'},
    {id: 6, content: 'Malfunction fixed',      title: 'The malfunction was fixed and I was able to confirm<br/>that the third bug (RCE) had been fixed while the<br/>two first bugs hadn\'t.', start: '2016-12-19'},
    {id: 7, content: 'Asked for an update', start: '2017-01-17'},
    {id: 8, content: 'Received update',                   title: 'Received update "(...) issues are logged by Technicolor<br/>and will be further investigated and will be<br/>resolved in the final release. (...) A broad indication<br/> will be Q1 2017. As soon as we have news we<br/>come back to you, you hear nothing remember us please', start: '2017-02-01'},
    {id: 9, content: 'Requested firmware to be reverted', title: 'Requested the router to be reverted to the latest stable<br/>version', start: '2017-02-07'},
    {id: 10, content: 'Firmware was reverted', title: 'Modem reverted back to the original firmware', start:'2017-02-08'},
    {id: 11, content: 'Asked for an update', title: 'Asked for an update on  and explained that the details were going to be released as more than six months had passed, got no reply', start:'2017-08-08'},
    {id: 12, content: 'Public release', title: 'Released details through this blog post', start: '2018-06-03'},
    {id: 13, content: 'Technicolor reached out', title: 'Technicolor contacted me requesting further assurance that the bugs had been properly fixed and to contact them as well for future bugs I might find.', start: '2018-06-04'},
    {id: 14, content: 'Ziggo reached out', title: 'Ziggo contacted me requesting further assurance that the bugs had been properly fixed and apologized for not responding', start: '2018-06-04'},
  ]);

  var container = document.getElementById('visualization');
  var options = {
    start: '2016-11-26',
    end: '2016-12-26',
    editable: false
  };

  var timeline = new vis.Timeline(container, items, options);

</script-->
        </div>
      </div>
      <div class="card-footer">
{{ partial "post-footer.html" . }}
      </div>
    </div>
    <ul class="pagination justify-content-center mb-4">
{{- if .NextInSection -}}
      <li class="page-item">
        <a href="{{ .NextInSection.Permalink }}" title="{{ .NextInSection.Title }}" class="page-link"><span><i class="fas fa-chevron-left"></i>&nbsp;</span>Newer</a>
      </li>
{{- else -}}
      <li class="page-item disabled">
        <a href="/" class="page-link"><span><i class="fas fa-chevron-left"></i>&nbsp;</span>Newer</a>
      </li>
{{- end -}}
{{- if .PrevInSection -}}
  <li class="page-item">
    <a href="{{ .PrevInSection.Permalink }}" title="{{ .PrevInSection.Title }}" class="page-link">Older<span>&nbsp;<i class="fas fa-chevron-right"></i>&nbsp;</span></a>
  </li>
{{- else -}}
  <li class="page-item disabled">
    <a href="/" class="page-link">Older<span>&nbsp;<i class="fas fa-chevron-right"></i>&nbsp;</span></a>
  </li>
{{- end -}}
    </ul>
  </div>
  <!-- Sidebar Widgets Column -->
  <div class="col-md-4">
    <!-- Categories Widget -->
    <div class="card my-4">
      <h5 class="card-header">Categories</h5>
      <div class="card-body">
        <div class="cloud">
{{ partial "cloud.html" (dict "context" . "type" "category" "minimum" 1 "maximum" 2.4 ) }}
        </div>
      </div>
    </div>
    <!-- Tags Widget -->
    <div class="card my-4">
      <h5 class="card-header">Tags</h5>
      <div class="card-body">
        <div class="cloud">
{{ partial "cloud.html" (dict "context" . "type" "tag" "minimum" 1 "maximum" 2.4 ) }}
        </div>
      </div>
    </div>
  </div>
</div>
