<article>
  <header>
{{- if and (isset .context.Params "banner") (.feature) -}}
    <a href="{{ .context.Permalink }}"><img class="img-responsive center-block" src="{{ .context.Params.banner }}" alt="{{ .context.Title }}"></a>
{{- end -}}
    <a href="{{ .context.Permalink }}"><h1>{{ .context.Title }}</h1></a>
  </header>
  <section class="content">
{{- if and (isset .context.Params "format") (or (eq .context.Params.format "quote") (eq .context.Params.format "status")) -}}
  {{ .context.Content }}
{{- else -}}
  {{ .context.Summary }}
  {{- if .context.Truncated -}}
    <a class="btn btn-primary" href="{{ .context.Permalink }}">Continue Reading<span>&nbsp;<i class="fa fa-chevron-right"></i></span></a>
  {{- end -}}
{{- end -}}
  </section>
  <footer>
{{ partial "post-footer.html" .context }}
  </footer>
</article>

