<div class="row">
  <!-- Post Content Column -->
  <div class="col-lg-8">
    <!-- Blog Post -->
    <div class="card mb-4 my-4">
{{- with .Params.banner -}}
      <img class="card-img-top" src="{{ . }}" alt="{{ $.Title }}" />
{{- end -}}
      <div class="card-body">
        <h2 class="card-title">
{{ .Title }}
        </h2>
        <div class="text-justify">
{{ .Content }}
{{- with .Params.timeline -}}
          <h3 id="disclosure-timeline">Disclosure Timeline</h3>
          <ul>
  {{- range . -}}
    {{- if ne .type "background" -}}
            <li>
      {{ .start }}:&nbsp;{{- if .content -}}{{ .content | safeHTML }}{{- else -}}{{ .title | safeHTML }}{{- end -}}
            </li>
    {{- end -}}
  {{- end -}}
          </ul>
          <div id="visualization"></div>
{{- end -}}
        </div>
      </div>
      <div class="card-footer">
{{ partial "post-footer.html" . }}
      </div>
    </div>
    <ul class="pagination justify-content-center mb-4">
{{- if .NextInSection -}}
      <li class="page-item">
        <a href="{{ .NextInSection.Permalink }}" title="{{ .NextInSection.Title }}" class="page-link"><span><i class="fas fa-chevron-left"></i>&nbsp;</span>Newer</a>
      </li>
{{- else -}}
      <li class="page-item disabled">
        <a href="/" class="page-link"><span><i class="fas fa-chevron-left"></i>&nbsp;</span>Newer</a>
      </li>
{{- end -}}
{{- if .PrevInSection -}}
  <li class="page-item">
    <a href="{{ .PrevInSection.Permalink }}" title="{{ .PrevInSection.Title }}" class="page-link">Older<span>&nbsp;<i class="fas fa-chevron-right"></i>&nbsp;</span></a>
  </li>
{{- else -}}
  <li class="page-item disabled">
    <a href="/" class="page-link">Older<span>&nbsp;<i class="fas fa-chevron-right"></i>&nbsp;</span></a>
  </li>
{{- end -}}
    </ul>
  </div>
  <!-- Sidebar Widgets Column -->
  <div class="col-md-4">
    <!-- Categories Widget -->
    <div class="card my-4">
      <h5 class="card-header">Categories</h5>
      <div class="card-body">
        <div class="cloud">
{{ partial "cloud.html" (dict "context" . "type" "category" "minimum" 1 "maximum" 2.4 ) }}
        </div>
      </div>
    </div>
    <!-- Tags Widget -->
    <div class="card my-4">
      <h5 class="card-header">Tags</h5>
      <div class="card-body">
        <div class="cloud">
{{ partial "cloud.html" (dict "context" . "type" "tag" "minimum" 1 "maximum" 2.4 ) }}
        </div>
      </div>
    </div>
  </div>
</div>
