<article>
  <header>
{{- if isset .Params "banner" -}}
    <a href="{{ .Permalink }}"><img class="img-responsive center-block" src="{{ .Params.banner }}" alt="{{ .Title }}"></a>
{{- end -}}
    <a href="{{ .Permalink }}"><h1>{{ .Title }}</h1></a>
  </header>
  <section class="content">
{{ .Summary }}
{{- if .Truncated -}}
    <a class="btn btn-primary" href="{{ .Permalink }}">More Information<span>&nbsp;<i class="fa fa-chevron-right"></i></span></a>
{{ end }}
  </section>
  <footer>
{{ partial "project-footer.html" . }}
  </footer>
</article>

