<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <article>
      <header>
{{- with .Params.banner -}}
        <img class="img-responsive center-block" src="{{ . }}" alt="{{ $.Title }}" />
{{- end -}}
        <h1>{{ .Title }}</h1>
      </header>
      <section class="content">
{{ .Content }}
      </section>
      <footer>
{{ partial "project-footer.html" . }}
      </footer>
    </article>
    <ul class="pager">
{{- if .PrevInSection -}}
      <li class="previous">
        <a href="{{ .PrevInSection.Permalink }}" title="{{ .PrevInSection.Title }}"><span><i class="fa fa-chevron-left"></i>&nbsp;</span>Older</a>
      </li>
{{- end -}}
{{- if .NextInSection -}}
      <li class="next">
        <a href="{{ .NextInSection.Permalink }}" title="{{ .NextInSection.Title }}">Newer<span>&nbsp;<i class="fa fa-chevron-right"></i></span></a>
      </li>
{{- end -}}
    </ul>
  </div>
</div>
