<script src="{{ "js/jquery.min.js" | absURL }}"></script>
<script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "js/fontawesome-solid.min.js" | absURL }}"></script>
<script src="{{ "js/fontawesome-brands.min.js" | absURL }}"></script>
<script src="{{ "js/fontawesome.min.js" | absURL }}"></script>
{{- if or .Params.timeline .Params.network -}}
<script src="{{ "js/vis.min.js" | absURL }}"></script>
  {{- with .Params.timeline -}}
<script src="{{ "js/vis-timeline-graph2d.min.js" | absURL }}"></script>
<script>
  $(function() {
    var items = new vis.DataSet([
  {{- range . -}}
    {{- if ne .type "background" -}}
      { id: '{{ .id }}', start: '{{ .start }}', content: '{{ .title }}' },
    {{- else -}}
      {id: '{{ .id }}', start: '{{ .start }}', end: '{{ .end }}', content: '{{ .title }}', type: '{{ .type }}', className: '{{ .className }}'},
    {{- end -}}
  {{- end -}}
    ]);

    var container = document.getElementById('disclosure-vis');
    var options = {
      editable: false
    };

    var timeline = new vis.Timeline(container, items, options);
  });
</script>
  {{- end -}}
  {{- with .Params.network -}}
<script src="{{ "js/vis-network.min.js" | absURL }}"></script>
<script>
  $(function() {
  });
</script>
  {{- end -}}
{{- end -}}
<script src="{{ "js/serializingme.min.js" | absURL }}"></script>
{{- with .Site.Params.analytics -}}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ . }}');
</script>
{{- end -}}
{{- with .Site.Params.adsense -}}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "{{ . }}",
    enable_page_level_ads: true
  });
</script>
{{- end -}}
