<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
{{ partial "head.html" . }}
  </head>
  <body>
    <header>
{{ partial "header.html" . }}
    </header>
    <section class="container">
      <div class="text-center">
        <span class="fa-10x"><i class="fa fa-ban"></i></span>
        <h1>404</h1>
        <h2>This Isn't The Page You're Looking For</h2>
      </div>
    </section>
    <footer>
{{ partial "footer.html" . }}
    </footer>
{{ partial "script.html" . }}
  </body>
</html>
