<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" class="bg-dark">
  <head>
{{ partial "head.html" . }}
  </head>
  <body>
    <header>
{{ partial "header.html" . }}
    </header>
    <section class="container">
      <div class="text-center">
        <span class="fa-10x"><i class="fas fa-bolt"></i></span>
        <h1>This page is so fast that you just missed it!</h1>
      </div>
      <hr class="hr-not-found" />
      <div class="row">
{{ range first 1 (where .Data.Pages "Type" "post") }}
        <div class="col-md-6">
  {{ partial "post-summary.html" (dict "context" . "feature" true ) }}
        </div>
{{ end }}
{{ range first 1 (where .Data.Pages "Type" "project") }}
        <div class="col-md-6">
  {{ partial "project-summary.html" . }}
        </div>
{{ end }}
      </div>
      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-success btn-block" href="{{ .Site.Params.page.post }}" role="button">More Posts<span>&nbsp;<i class="fas fa-chevron-right"></i></span></a>
        </div>
        <div class="col-md-6">
          <a class="btn btn-success btn-block" href="{{ .Site.Params.page.project }}" role="button">More Projects<span>&nbsp;<i class="fas fa-chevron-right"></i></span></a>
        </div>
      </div>
    </section>
    <footer class="mt-4 bg-dark">
{{ partial "footer.html" . }}
    </footer>
{{ partial "script.html" . }}
  </body>
</html>
