<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
{{ partial "head.html" . }}
  </head>
  <body>
    <header>
{{ partial "header.html" . }}
    </header>
    <section class="container">
      <div class="text-center">
        <span class="fa-10x"><i class="fa fa-bolt"></i></span>
        <h1>This page is so fast that you just missed it!</h1>
      </div>
      <hr class="hr-not-found" />
      <div class="row">
        {{ range first 1 (where .Data.Pages "Type" "post") }}
        <div class="col-md-6">
          {{ partial "post-summary.html" (dict "context" . "feature" true ) }}
        </div>
        {{ end }}
        {{ range first 1 (where .Data.Pages "Type" "project") }}
        <div class="col-md-6">
          {{ partial "project-summary.html" . }}
        </div>
        {{ end }}
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="btn-group btn-group-justified">
            <a class="btn btn-success" href="{{ .Site.Params.page.post }}">More Posts<span>&nbsp;<i class="fa fa-chevron-right"></i></span></a>
          </div>
        </div>
        <div class="col-md-6">
          <div clasS="btn-group btn-group-justified">
            <a class="btn btn-success" href="{{ .Site.Params.page.project }}">More Projects<span>&nbsp;<i class="fa fa-chevron-right"></i></span></a>
          </div>
        </div>
      </div>
    </section>
    <footer>
{{ partial "footer.html" . }}
    </footer>
{{ partial "script.html" . }}
  </body>
</html>
