<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
{{ partial "head.html" . }}
  </head>
  <body>
    <header>
{{ partial "header.html" . }}
    </header>
    <section class="container">
      <div class="row">
        <div class="col-md-4 my-4">
          <h1>Latest Posts</h1>
        </div>
        <div class="col-md-8">
{{ range first 1 (where .Data.Pages "Type" "post") }}
  {{ partial "post-summary.html" (dict "context" . "feature" true ) }}
{{ end }}
{{ range first 2 (after 1 (where .Data.Pages "Type" "post")) }}
  {{ partial "post-summary.html" (dict "context" . "feature" false ) }}
{{ end }}
        </div>
      </div>
      <div class="row">
        <div class="offset-md-4 col-md-8">
          <a class="btn btn-success btn-block" href="{{ .Site.Params.page.post }}" role="button">More Posts<span>&nbsp;<i class="fas fa-chevron-right"></i></span></a>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-4 my-4">
          <h1>Latest Projects</h1>
        </div>
{{ range first 2 (where .Data.Pages "Type" "project") }}
        <div class="col-md-4">
  {{ partial "project-summary.html" . }}
        </div>
{{ end }}
      </div>
      <div class="row">
        <div class="offset-md-4 col-md-8">
          <a class="btn btn-success btn-block" href="{{ .Site.Params.page.project }}" role="button">More Projects<span>&nbsp;<i class="fas fa-chevron-right"></i></span></a>
        </div>
      </div>
    </section>
    <footer class="mt-4 bg-dark">
{{ partial "footer.html" . }}
    </footer>
{{ partial "script.html" . }}
  </body>
</html>
