<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
{{ partial "head.html" . }}
  </head>
  <body>
    <header>
{{ partial "header.html" . }}
    </header>
    <section class="container">
      <div class="row">
        <div class="col-md-4">
          <h1>Latest Posts</h1>
        </div>
        <div class="col-md-8">
        {{ range first 1 (where .Data.Pages "Type" "post") }}
          {{ partial "post-summary.html" (dict "context" . "feature" true ) }}
        {{ end }}
        {{ range first 3 (after 1 (where .Data.Pages "Type" "post")) }}
          {{ partial "post-summary.html" (dict "context" . "feature" false ) }}
        {{ end }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-4 col-md-8">
          <div class="btn-group btn-group-justified">
            <a class="btn btn-success" href="{{ .Site.Params.page.post }}">More Posts<span>&nbsp;<i class="fa fa-chevron-right"></i></span></a>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-4">
          <h1>Latest Projects</h1>
        </div>
        {{ range first 2 (where .Data.Pages "Type" "project") }}
        <div class="col-md-4">
          {{ partial "project-summary.html" . }}
        </div>
        {{ end }}
      </div>
      <div class="row">
        <div class="col-md-offset-4 col-md-8">
          <div clasS="btn-group btn-group-justified">
            <a class="btn btn-success" href="{{ .Site.Params.page.project }}">More Projects<span>&nbsp;<i class="fa fa-chevron-right"></i></span></a>
          </div>
        </div>
      </div>
    </section>
    <footer>
{{ partial "footer.html" . }}
    </footer>
{{ partial "script.html" . }}
  </body>
</html>
